<configuration>
    <appender name="kafka" class="con.logging.platform.LogGenerator">
        <producerConfig>server=localhost:9092</producerConfig>
        <topic>topic1</topic>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="kafka" />
    </root>
</configuration>